body {
    background-color: rgba(3, 7, 30);
}
header {
    background-color: #FFF8EA;
    width: 600px;
    height: 30px;
    padding: 20px;
}
 /*referencia: chatgpt*/
title{
    color:orangered
}
button{
    background-color: transparent;
    border: none;
    display: block;
    margin-bottom: 0px

}
.imagenes{
    border:none;
    outline:none;

}
@font-face {
    font-family: "Chau Philomena";
    src: url(Chau\ Philomene\ One\ Italic.woff) format("woff");
    src: url(Chau\ Philomene\ One\ Italic.woff2) format("woff2");
}
#titulo{
    position: absolute; 
    color:orangered;
    top: -5px;
    font-size: xx-large;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
}
#tit1{
    position: relative;
    color: orangered;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}


.objetivos_cuadro{
    position: absolute;
    width: 900px;
    height: 800px;
    top: 0px;
    right: -100px;
    border: 1px solid black;
    background: linear-gradient(to bottom,#FFDE59,#FF914D) white;
    padding: 10px;
    border-left: 40px solid linear-gradient(to bottom,#FFDE59,#FF914D);
    border-right: 10px solid black;
    transform: skewX(-5deg);
}
@font-face {
    font-family: "Chau Philomena";
    src: url(OFL.txt) format("txt");
}

#cuadro-interno {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#cant_incendios_maule {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cant_incendios_nuble {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cant_incendios_biobio {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cant_incendios_araucania {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#sup_afec_maule {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#sup_afec_nuble {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#sup_afec_biobio {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#sup_afec_araucania {
    align-self: center;
    background-color: #FFF8EA;
    position: absolute;
    width: 500px;
    height: 500px;
    right: 100px;
    top: 20px;
    padding: 20px;
    border-radius: 10% 10% 10% 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#texto-superpuesto {
    position: absolute;
    top: 195px;
    left: 210px;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
#texto-superpuesto1 {
    position: absolute;
    top: 355px;
    left: 180px;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
#texto-superpuesto2 {
    position: absolute;
    top: 520px;
    left: 140px;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
#texto-superpuesto3 {
    position: absolute;
    top: 700px;
    left: 130px;
    font-family: "Chau Philomena", Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
#maule:hover {
    box-shadow: 0 0 20px #FFFFFF;
  }
#nuble:hover {
    box-shadow: 0 0 20px #FFFFFF;
  }
#araucania:hover {
    box-shadow: 0 0 20px #FFFFFF;
  }
#biobio:hover {
    box-shadow: 0 0 20px #FFFFFF;
  }
  
  
  
